# 1- Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## 1.1- Types of numbers

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

## 1.2- Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [5]:
# Floor Division (L·∫•y ph·∫ßn nguy√™n)
7//4

1

In [6]:
# Modulo (L·∫•y ph·∫ßn d∆∞)
7%4

3

In [7]:
# Powers
2**3

8

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+1) * (1+3)

12

# 2- Variable Assignments

**Rules for variable names**
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`

In [11]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [12]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [13]:
# Reassignment
a = 10

In [14]:
# Check
a

10

In [15]:
# Use A to redefine A
a = a + a

In [16]:
# Check 
a

20

In [17]:
# Use object names to keep better track of what's going on in your code!
my_income = 100
tax_rate = 0.1

my_taxes = my_income*tax_rate

In [18]:
# Show my taxes!
my_taxes

10.0

**‚ùì Given pi = 3.14, diagram = 3, pls help me calculate the area of circle?**

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [19]:
my_dogs = 2

In [20]:
my_dogs

2

In [21]:
my_dogs = 'Hello'

In [22]:
my_dogs

'Hello'

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [23]:
a = 5
a = a + 10
a

15

In [24]:
a = 5
a += 10
a

15

In [25]:
a = 5
a *= 2 # mean: a = a * 2
a

10

# 3 - String

In [26]:
# Single word
'hello'

'hello'

In [27]:
# Entire phrase 
'A m√¢y zing g√∫t ch√≥p b·∫°n!'

'A m√¢y zing g√∫t ch√≥p b·∫°n!'

In [28]:
# We can also use double quote
"A m√¢y zing g√∫t ch√≥p b·∫°n!"

'A m√¢y zing g√∫t ch√≥p b·∫°n!'

In [29]:
# Be careful with quotes!
'C√¢u n√†y ch·ª©a d·∫•u nh√°y ƒë∆°n ', v√† n√≥ b√°o l·ªói :('

SyntaxError: EOL while scanning string literal (3198974725.py, line 2)

In [ ]:
"C√¢u n√†y ch·ª©a d·∫•u nh√°y ƒë∆°n ', v√† n√≥ b√°o l·ªói :("

"C√¢u n√†y ch·ª©a d·∫•u nh√°y ƒë∆°n ', v√† n√≥ b√°o l·ªói :("

Now let's learn about printing strings!

## 3.1 Printing a String

<img src="https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2021/08/26053816/Python-print.jpg" width="600">

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
'A m√¢y zing g√∫t ch√≥p b·∫°n!'

'A m√¢y zing g√∫t ch√≥p b·∫°n!'

We can use a print statement to print a string.

In [ ]:
print('Python in my hands!')

Python in my hands!

In [ ]:
print('Python in my hands', 'hello world')

Python in my hands hello world

In [ ]:
print('Python \nin my hands', 'hello world')

Python
in my hands hello world

In [ ]:
print('Python in my hands', 'hello world', sep = '==')

Python in my hands==hello world

In [ ]:
print('Python in my hands', 'hello world', sep = '\n')

Python in my hands
hello world

In [ ]:
print('the first line')
print('the second line')

the first line
the second line

In [ ]:
print('the first line', end=' ')
print('the second line')

the first line the second line

We can also use a function called len() to check the length of a string!

In [ ]:
len('Hello World') # Python c√≥ t√≠nh lu√¥n kho·∫£ng tr·∫Øng

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## 3.2 String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [ ]:
# Assign s as a string
s = 'Hello World'

In [ ]:
# Print the object
print(s)

Hello World

Let's start indexing!

![alternatvie text](https://i.ibb.co/DtfrbP2/1.png)

In [ ]:
# Show first element (in this case a letter)
s[0]

'H'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

‚ùì Can you guess?

s[3:8]

We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [ ]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [ ]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [ ]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [ ]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [ ]:
# We can reassign s completely though!
s = s + " I'm from Vietnam!"

In [ ]:
print(s)

Hello World I'm from Vietnam!

We can use the multiplication symbol to create repetition!

In [ ]:
letter = 'z'

In [ ]:
letter*10

'zzzzzzzzzz'

## 3.3 Popular Built-in String methods

In [ ]:
s

NameError: name 's' is not defined

In [ ]:
# Upper Case a string
s.upper()

"HELLO WORLD I'M FROM VIETNAM!"

In [ ]:
# Lower case
s.lower()

"hello world i'm from vietnam!"

In [ ]:
# Title case
s.title()

"Hello World I'M From Vietnam!"

In [ ]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', "I'm", 'from', 'Vietnam!']

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('from')

["Hello World I'm ", ' Vietnam!']

In [ ]:
# Strip!:
text = '   c√¢u n√†y c√≥ v√†i kho·∫£ng tr·∫Øng ·ªü 2 ƒë·∫ßu '
text

'   c√¢u n√†y c√≥ v√†i kho·∫£ng tr·∫Øng ·ªü 2 ƒë·∫ßu '

In [ ]:
text.strip()

'c√¢u n√†y c√≥ v√†i kho·∫£ng tr·∫Øng ·ªü 2 ƒë·∫ßu'

In [ ]:
text.strip().index('n√†y')

4

## 3.4 Connecting strings

*Only strings can join together!*

In [ ]:
name = 'Tam'
grade = 1
sen = 'T√¥i t√™n l√† ' + name + '. T√¥i ƒëang h·ªçc l·ªõp ' + grade

sen

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Only strings can join together!
name = 'Tam'
grade = 1
sen = 'T√¥i t√™n l√† ' + name + '. T√¥i ƒëang h·ªçc l·ªõp Python ' + str(grade)

sen

'T√¥i t√™n l√† Tam. T√¥i ƒëang h·ªçc l·ªõp Python 1'

In [ ]:
# Others way to do it!
sen = 'T√¥i t√™n l√† {}. T√¥i ƒëang h·ªçc l·ªõp {}'.format(name, 1)
sen

'My name is Tam. My grade is 1'

In [ ]:
# One more way to do it!
sen = f'My name is {name}. My grade is {1}'
sen

'My name is Tam. My grade is 1'

In [ ]:
# One more way to do it!
sen = f'My name is {name}. My grade is {1+7}'
sen

'My name is Tam. My grade is 8'

# 4- Comparison Operators

![image](https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png)

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
2 == 2

True

In [ ]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [ ]:
2 != 1

In [ ]:
2 != 2

#### Greater Than

In [ ]:
2 > 1

In [ ]:
2 > 4

#### Less Than

In [ ]:
2 < 4

In [ ]:
2 < 1

#### Greater Than or Equal to

In [ ]:
2 >= 2

In [ ]:
2 >= 1

#### Less than or Equal to

In [ ]:
2 <= 2

In [ ]:
2 <= 4

## Chained Comparison Operators and logical operators

**and**: The `and` operator returns `True` when `both` the conditions evaluate to `True`. Otherwise, it returns `False`.

**or**: operator returns `True` if `at least one` of the conditions evaluates to `True`. It returns `False` only if `both conditions are False`.

![img](https://i.ibb.co/wJ2hm4n/2.png)

In [ ]:
1 < 2 < 3

True

In [ ]:
1 < 3 > 2

True

In [ ]:
1<2 and 2<3

True

In [ ]:
1<3 and 3>2

True

In [ ]:
1==2 or 2<3

True

In [ ]:
1==1 or 100==1

True

# 5 - Input()

In [ ]:
input('What is your name?')

'Tam Tran'

In [ ]:
name = input('What is your name?')
# Show your name
name

'Tam tran'

# üòè Challenge: 

**Write a program to generate band name. The band name should be following below rule:**

```python
band_name = your_home_town + your_pet_name + your_pet_name_length

#Example:
your_home_town = 'B√¨nh ƒê·ªãnh'
your_pet_name = 'Milu'
your_pet_name_length = 4

# Result should be:
band_name = 'B√¨nh ƒê·ªãnh Milu 4'
```