**Overview**
+ Built-in data structures: List, Dictionary, Set, Tuple
+ Control flow statements

# 1 - Built-in Data Structures and sequences

## 1.1- List:

![img](https://media.geeksforgeeks.org/wp-content/uploads/List-Slicing.jpg)

Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.

In [1]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [2]:
my_list = ['A string', 23, 100.232, True, [2,3]]
my_list

['A string', 23, 100.232, True, [2, 3]]

How many items are in the sequence of the list?

In [3]:
len(my_list)

5

### 1.1.1 Indexing and Slicing

Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [4]:
my_list = ['one', 'two', 'three', 4, 5]

In [5]:
# Grab element at index 0
my_list[0]

'one'

In [6]:
my_list[3]

4

In [7]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [8]:
my_list

['one', 'two', 'three', 4, 5]

In [9]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [10]:
my_list[1:3]

['two', 'three']

In [11]:
my_list[::-1]

[5, 4, 'three', 'two', 'one']

We can also use + to concatenate lists, just like we did for strings.

In [12]:
my_list

['one', 'two', 'three', 4, 5]

In [13]:
list2 = ['six', 7, [8,9]]
my_list = my_list + list2
my_list

['one', 'two', 'three', 4, 5, 'six', 7, [8, 9]]

In [14]:
len(my_list)

8

In [15]:
l = [1,2,3]
l*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'six',
 7,
 [8, 9],
 'one',
 'two',
 'three',
 4,
 5,
 'six',
 7,
 [8, 9]]

In [17]:
# Revert values:
my_list[::-1]

[[8, 9], 7, 'six', 5, 4, 'three', 'two', 'one']

### 1.1.2. List Methods

![img](https://i.ibb.co/cFrtcd5/3.png)

In [18]:
# Create a new list
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [19]:
# Append:
planets.append('append me!')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'append me!']

In [20]:
# Pop off the the last value:
planets.pop(planets.index('append me!'))

'append me!'

In [21]:
# Show
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [22]:
# Insert a specific position in list: Insert Sun into the first possition
planets.insert(5, 'Sun')

In [23]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Sun',
 'Saturn',
 'Uranus',
 'Neptune']

In [24]:
# What is the position of Mars:
planets.index('Mars')

# Note: By default, we will get the first index of value matching with specified value

3

In [25]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Sun',
 'Saturn',
 'Uranus',
 'Neptune']

In [26]:
# Sort list from A->Z:
planets.sort()
planets

['Earth',
 'Jupiter',
 'Mars',
 'Mercury',
 'Neptune',
 'Saturn',
 'Sun',
 'Uranus',
 'Venus']

In [27]:
# Sort list from Z->A:
planets.sort(reverse=True)
planets

['Venus',
 'Uranus',
 'Sun',
 'Saturn',
 'Neptune',
 'Mercury',
 'Mars',
 'Jupiter',
 'Earth']

In [28]:
import random

random.shuffle(planets)
planets

['Uranus',
 'Sun',
 'Earth',
 'Mars',
 'Neptune',
 'Saturn',
 'Venus',
 'Jupiter',
 'Mercury']

In [29]:
# Shuffle the list:
import random
random.shuffle(planets)
planets

['Mercury',
 'Earth',
 'Jupiter',
 'Saturn',
 'Mars',
 'Uranus',
 'Venus',
 'Sun',
 'Neptune']

In [30]:
# Count number of value in list:
my_list = [1,2,3,1,'four']
my_list
my_list.count(1)

2

## 1.2- Dictionary

![](https://programmathically.com/wp-content/uploads/2021/05/dictionary-768x416.png)

A dictionary is a data structure that stores items using key-value pairs. Each entry needs to have a unique key. Entries are ordered and can be changed. Dictionaries come inbuilt with Python and are created using curly brackets.

In [31]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'number_phone': 123456789, 'name': 'Tâm', 'lovers': ['Hồ Ngọc Hà', 'Mỹ Tâm']}
my_dict

{'number_phone': 123456789, 'name': 'Tâm', 'lovers': ['Hồ Ngọc Hà', 'Mỹ Tâm']}

In [32]:
my_dict['number_phone']

123456789

In [33]:
my_dict['name']

'Tâm'

In [34]:
# Call values by their key
my_dict['number_phone']

123456789

In [35]:
# Return all keys:
my_dict.keys()

dict_keys(['number_phone', 'name', 'lovers'])

In [36]:
# Return all values:
my_dict.values()

dict_values([123456789, 'Tâm', ['Hồ Ngọc Hà', 'Mỹ Tâm']])

In [37]:
# Return all pair of keys and values:
my_dict.items()

dict_items([('number_phone', 123456789), ('name', 'Tâm'), ('lovers', ['Hồ Ngọc Hà', 'Mỹ Tâm'])])

In [38]:
# Update value:
my_dict['number_phone'] = 99999999
my_dict

{'number_phone': 99999999, 'name': 'Tâm', 'lovers': ['Hồ Ngọc Hà', 'Mỹ Tâm']}

In [39]:
my_dict['lovers'].append('Hà Nhi')

In [40]:
my_dict

{'number_phone': 99999999,
 'name': 'Tâm',
 'lovers': ['Hồ Ngọc Hà', 'Mỹ Tâm', 'Hà Nhi']}

In [41]:
# Hà Nhi fall in love with Tâm!:
my_dict['lovers'].append('Hà Nhi')
my_dict

{'number_phone': 99999999,
 'name': 'Tâm',
 'lovers': ['Hồ Ngọc Hà', 'Mỹ Tâm', 'Hà Nhi', 'Hà Nhi']}

In [42]:
my_dict.pop('lovers')

['Hồ Ngọc Hà', 'Mỹ Tâm', 'Hà Nhi', 'Hà Nhi']

In [ ]:
my_dict

In [ ]:
my_dict

{'number_phone': 123456789, 'name': 'Tâm', 'lovers': ['Hồ Ngọc Hà', 'Mỹ Tâm']}

In [ ]:
# Tâm is bad boy so now no body love Tâm anymore! :(
my_dict.pop('lovers')

['Hồ Ngọc Hà', 'Mỹ Tâm']

In [ ]:
l

In [ ]:
my_dict

{'number_phone': 99999999, 'name': 'Tâm'}

In [ ]:
my_dict['wife'] = 'Taylor Swift'
my_dict

{'number_phone': 99999999, 'name': 'Tâm', 'wife': 'Taylor Swift'}

In [ ]:
# Tam is so sad and he traveled to the US and married Taylor Swift
my_dict['wife'] = 'Taylor Swift'
my_dict

{'number_phone': 99999999, 'name': 'Tâm', 'wife': 'Taylor Swift'}

In [ ]:
l = [1,2,3]
l

[1, 2, 3]

In [ ]:
l.pop(1)
l

[1, 3]

In [ ]:
l.remove(3)
l

[1]

## 😏 CHALLENGE!:

In [ ]:
# ex1: Returns "Cap Chris":
teams = [['Coach John', 'Cap Crunch', 'Tom, Timmy'],\
['Coach Jan', 'Cap Alan', 'Bruce'],\
['Coach Thomas', 'Cap Chris', 'Tony', 'Peter']]

# Your code here 
teams[-1][1]

'Cap Chris'

In [ ]:
teams[-1]

['Coach Thomas', 'Cap Chris', 'Tony', 'Peter']

In [ ]:
teams[-1][teams[-1].index('Cap Chris')]

'Cap Chris'

In [ ]:
# ex2: Print out all the planets that comes before Mars (including Mars)
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Your code here 
planets

In [ ]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# Ex3: Print out all the planets that comes before Mars (including Mars) but backward 

# Your code here 
mars_idx = planets.index('Mars')
mars_idx

3

In [ ]:
before_mars = planets[:mars_idx+1]
before_mars

['Mercury', 'Venus', 'Trái Đất', 'Mars']

In [ ]:
before_mars[::-1]

['Mars', 'Earth', 'Venus', 'Mercury']

In [ ]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
planets[: planets.index('Mars')+1][::-1]

['Mars', 'Earth', 'Venus', 'Mercury']

In [ ]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# Ex4: Change name of "Earth" to "Trái Đất"

# Your code here 
planets[2] = 'Trái Đất'
planets

['Mercury',
 'Venus',
 'Trái Đất',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [ ]:
# Ex5: Return 'Python' from my_dict as below:
my_dict = {
    'a': [1, 2, 3],
    'b': [4, 5, ['six', 'Python']]
}

# Your code here 
my_dict['b'][-1][-1]

'Python'

In [ ]:
my_dict

{'a': [1, 2, 3], 'b': [4, 5, ['six', 'Python']]}

In [ ]:
# Ex6: Add the pair of key and value: 'c': [7, 8, 9] to my_dict:

# Your code here 
my_dict['c'] = [7, 8, 9]
my_dict

{'a': [1, 2, 3], 'b': [4, 5, ['six', 'Python']], 'c': [7, 8, 9]}

## 1.3- Tuples

![img](https://pynative.com/wp-content/uploads/2021/02/python-tuple.jpg)

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In [ ]:
# Create a tuple
t = (1,2,3, 'four', [5, 'six'], 3, 3, 2)

In [ ]:
type(t)

tuple

In [ ]:
# Check len just like a list
len(t)

8

In [ ]:
t

(1, 2, 3, 'four', [5, 'six'], 3, 3, 2)

In [ ]:
# Use indexing just like we did in lists
t[3]

'four'

In [ ]:
# Slicing just like a list
t[-1], t[::-1], t[2:4]

(2, (2, 3, 3, [5, 'six'], 'four', 3, 2, 1), (3, 'four'))

In [ ]:
l = [1,2,3]
l[2] = 4
l

[1, 2, 4]

In [ ]:
t

(1, 2, 3, 'four', [5, 'six'], 3, 3, 2)

In [ ]:
# Value unchangeable and insertable:
t[0] = 'zero'

TypeError: 'tuple' object does not support item assignment

**Basic Tuple Methods**

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

| Method   | Description                                                                             |
|----------|-----------------------------------------------------------------------------------------|
| .count() | Returns the number of times a specified value occurs in a tuple                         |
| .index() | Searches the tuple for a specified value and returns the position of where it was found |

In [ ]:
t

(1, 2, 3, 'four', [5, 'six'], 3, 3, 2)

In [ ]:
t.count(3)

3

In [ ]:
# Use .index to enter a value and return the index
t.index('four')

3

In [ ]:
# Use .count to count the number of times a value appears
t.count(3)

3

## 1.4- Set

There are two other object types in Python that we should quickly cover

![set img](https://pynative.com/wp-content/uploads/2021/03/python-sets.jpg)

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [ ]:
x = set()
type(x)

set

In [ ]:
# We add to sets with the add() method
x.add(1)
#Show
x

{1}

In [ ]:
# Add two
x.add('two')
x

{1, 'two'}

In [ ]:
# Add two again! But it just show one since set will automatically remove duplicated
x.add(7)
x

{1, '5', 7, 'two'}

In [ ]:
# Create a list with repeats
list1 = ['number', 7, 1,1,2,2,3,4,5,6,1,1]
list1

['number', 7, 1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

In [ ]:
# Cast as set to get unique values and it also reorder the list
set1 = set(list1)
set1

{1, 2, 3, 4, 5, 6, 7, 'number'}

In [ ]:
# Set can not indexing:
set1[0]

TypeError: 'set' object is not subscriptable

In [ ]:
list(set1)[3]

2

In [ ]:
# To indexing the set we can convert it to list type:
list(set1)[3]

4

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
# union 1:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# union 2:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# intersection:
a.intersection(b), a & b

({3, 4, 5}, {3, 4, 5})

In [ ]:
# difference:
a.difference(b), a - b

({1, 2}, {1, 2})

## 1.5- Type casting

In [ ]:
n = 123
type(n)

int

In [ ]:
float(n)

123.0

In [ ]:
str(n)

'123'

In [ ]:
# Casting on number:
n = 123
print(n, type(n))

# Cast int -> float:
f = float(n)
print(f, type(f))

# Cast float -> int:
i = int(f)
print(i, type(i))

123 <class 'int'>
123.0 <class 'float'>
123 <class 'int'>

In [ ]:
list1 = [1, 2, 'three', 'four', 2]
list1

[1, 2, 'three', 'four', 2]

In [ ]:
tuple(list1)

(1, 2, 'three', 'four', 2)

In [ ]:
set(list1)

{1, 2, 'four', 'three'}

In [ ]:
t  = (1,2,3)
t

(1, 2, 3)

In [ ]:
list(t)

[1, 2, 3]

In [ ]:
# Casting among list, tupe, set:
list1 = [1, 2, 'three', 'four']
tup = tuple(list1)
print(tup, type(tup))

# Revert:
list1 = list(tup)
print(list1, type(list1))

(1, 2, 'three', 'four') <class 'tuple'>
[1, 2, 'three', 'four'] <class 'list'>

In [ ]:
# Casting among list, tupe, set:
list1 = [1, 2, 'three', 'four']
set1 = set(list1)
print(set1, type(set1))

{'three', 1, 2, 'four'} <class 'set'>

# 2 - Control Flow statements (Part 1)
## 2.1 - if, elif, else Statements

<img src="https://i.imgur.com/fqJOBUS.png" width="400">

In [ ]:
x = 100
y = 100

if x > y:
    print('x > y')
elif x < y:
    print('x < y')
else:
    print('x = y')

x = y

In [ ]:
x = 10
y = 20

if x> y:
    print('x>y')
elif x < y:
    print('x<y')
else:
    print('x = y')

x<y

In [ ]:
x = input('Pls input x: ')
y = input('Pls input y: ')

if x > y:
    print('x>y')
elif x < y:
    print('x<y')
else:
    print('x = y')

x>y

In [ ]:
x = int(input('input x = '))
y = int(input('input y = '))

if x > y:
    print(f'x > y, x = {x} and y = {y}')
elif x < y:
    print(f'x < y, x = {x} and y = {y}')
else:
    print(f'x = y, x = {x} and y = {y}')

x < y, x = 2 and y = 3

🤔 Ex: A school has following rules for grading system:
+ Below 25 - F
+ 25 to 45 - E
+ 45 to 50 - D
+ 50 to 60 - C
+ 60 to 80 - B
+ Above 80 - A

Ask user to enter marks by keyboard and print the corresponding grade.

In [ ]:
# Your code here:
score = int(input('pls input mark: '))

if score < 25:
    print('F')
elif (score >= 25) and (score < 45):
    print('E')
elif (score >= 45) and (score < 50):
    print('D')
elif (score >= 50) and (score < 60):
    print('C')
elif (score >= 60) and (score < 80):
    print('B')
else:
    print('A')

C

In [ ]:
x = int(input("Enter mark: "))

if x<25:
    print("Your mark is: F")
elif x<45:
    print("Your mark is: E")
elif x<50:
    print("Your mark is: D")
elif x<60:
    print("Your mark is: C")
elif x<80:
    print("Your mark is: B")
else:
    print("Your mark is: A")

Your mark is: C

## 2.2 - for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

<img src="https://i.ibb.co/8zsRg1F/5.png" width="400">

In [ ]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(2,20,2):
    print(i, end = ' ')

2 4 6 8 10 12 14 16 18

In [ ]:
for i in range(10):
    print(i+1, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for n in range(20):
    if n%2 == 0:
        print(n)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# 🤔 Print the numbers that are divisible by 2 less than 20?
for num in range(20):
    if num % 2 == 0:
        print(num)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# for loop with string
words = 'we are number one!'
for w in words:
    print(w)

w
e

a
r
e

n
u
m
b
e
r

o
n
e
!

In [ ]:
# ❓Ex1: Find the tallest name:
students = {'Nam': 170, 'Nữ': 185, 'Hồng': 150, 'Cam': 165, 'Huệ': 175}

# ✳️Hint: students.items()
students.items()

dict_items([('Nam', 170), ('Nữ', 185), ('Hồng', 150), ('Cam', 165), ('Huệ', 175)])

In [ ]:
tallest = 0
tallest_name = ''

for name, height in students.items():
    if height > tallest:
        tallest = height
        tallest_name = name

tallest_name

'Nữ'

In [ ]:
# ❓Ex2: Find the the FIRST number divisible by 3:
numbers = [1, 32, 11, 243, 77, 897, 666, 964, 738, 1000, 322]

# ✳️Hint: "break" (opional: find the LAST number divisible by 3)

**Nested iteration**

In [ ]:
# Example:
for i in range(3):
    for j in range(4):
        print(i, j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [ ]:
# ❓Ex3: I challenge you to print like below 😏

# ✳️Hint: có sử dụng tham số end trong hàm print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 1.3 - while Loops

<img src="https://www.freecodecamp.org/news/content/images/2020/08/while-loop.jpg" width="350">

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let’s look at a few simple <code>while</code> loops in action.

In [ ]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
x = 0

while x <= 10:
    print('x is currently: ',x)
    # x still less than 10, adding 1 to x:
    x += 1 # x = x + 1

print('done')

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9
x is currently:  10
done

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    # x still less than 10, adding 1 to x:
    x+=1
    
# else:
#     print('All Done!')

print('Done')

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9
Done

## 1.4 - `break`, `continue`, `pass`

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases.

<img src="https://pythontut.com/static/pictures/continue_break_pass.png" width="600">

In [ ]:
# Pass:
x = 0
while x < 10:
    if x == 5:
        print('FIVE')
        pass
        print('hello')
    elif x == 6:
        pass
    else:
        print(x)
    x += 1

0
1
2
3
4
FIVE
hello
7
8
9

In [ ]:
# Break:
x = 0
while x < 10:
    if x == 5:
        print('FIVE')
        break
        print('hello')
    else:
        print(x)
    x += 1
print('done')

0
1
2
3
4
FIVE
done

In [ ]:
for i in range(10):
    if i == 5:
        print('Five')
        break
    print(i)

0
1
2
3
4
Five

In [ ]:
# Continue:
x = 0
while x < 10:
    x += 1
    if x == 5:
        print('FIVE')
        continue
        print('hello')
    else:
        print(x)

1
2
3
4
FIVE
6
7
8
9
10

## 😏 CHALLENGE!

**FizzBuzz**

*Instructions:*

You are going to write a program that automatically prints the solution to the FizzBuzz game by using **for-loop** or **while-loop**

Write a program that prints the integers from 1 to 100. But for multiples of `3` print `"Fizz"` instead of the number, and for the multiples of `5` print `"Buzz"`. For numbers which are multiples of both `3` and `5` print `"FizzBuzz"`

e.g. it might start off like this:

```
`1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz`
```

`.... etc.`

*✳️ Note:*

1. Remember your answer should start from 1 and go up to and including 100. 
2. Each number/text should be printed on a separate line.
3. Write 2 versions: verion 1 use `for` loop and version 2 use `while` loop

In [ ]:
# Your code here!